{% extends 'base.html.twig' %}

{% block body %}
  <!-- Breadcrumbs-->
        <section class="breadcrumbs">
        <div class="container">
            <a href="index.html">home</a><span class="divider">&nbsp;</span><span>Contact Us</span>
        </div>
        </section>
        <!-- //end Breadcrumbs -->
        <!--Page Content-->
        <section class="container content">
        <div class="subtitle">
            <div>
                <span>Contact Us</span>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6115.684863819771!2d-82.9719195443651!3d39.96727545833253!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf3846176f3dff5ed!2sLa+Aurora!5e0!3m2!1sen!2sus!4v1416911994304" class="google-map">
        </iframe>
        <div class="row">
            <div class="divider-lg">
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="subtitle">
                    <div>
                        <span>Contact Info</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/logo-small.png" alt="Coolbaby">
                        <div class="divider-sm">
                        </div>
                        <ul class="menu menu-icon">
                            <li><span class="icon flaticon-home113"></span>7563 St. Vincent Place, Glasgow</li>
                            <li><span class="icon flaticon-phone163"></span>321321321, 321321321</li>
                            <li><span class="icon icon-xs flaticon-new78"></span><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                            <li><span class="icon flaticon-skype12"></span><a href="#">shop.test</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Pellentesque adipiscing nisi.</strong>
                        </p>
                        <p>
                            Nulla facilisi. Mauris lacinia lectus sit amet felis. Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo enim sem ut tum ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc.
                        </p>
                        <ul class="socials socials-lg">
                            <li><a href="#"><span class="icon flaticon-facebook12"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-twitter20"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-google10"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-pinterest9"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-linkedin11"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-youtube18"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-skype12"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 text-center">
                <div class="rect">
                    <div class="animate scale icon-outer">
                        <span class="icon flaticon-clock61"></span>
                    </div>
                    <h6><strong></strong>OPENING TIME</h6>
                    <p>
                        Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum,
                    </p>
                    <div class="line-divider">
                    </div>
                    <div class="divider-xs">
                    </div>
                    <h6>Mon-Sat: 10am-8pm<br>
                     Sun: 11.30am-5pm</h6>
                </div>
            </div>
        </div>
        <div class="divider-lg">
        </div>
        <div class="subtitle">
            <div>
                <span>Contact Info</span>
            </div>
        </div>
        <div id="success">
            <p>Your message was sent successfully!</p>
        </div>
        <div id="error">
            <p>Something went wrong, try refreshing and submitting the form again.</p>
        </div>
        <form id="contactform" class="form-inline contact-form" name="contactform" method="post" novalidate>
            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <input type="text" class="form-control" value="" name="name" placeholder="Name">
                    <input type="text" class="form-control" value="" name="subject" placeholder="Subject">
                    <input type="text" class="form-control" value="" name="email" placeholder="Email">
                </div>
                <div class="col-sm-7 col-md-8">
                    <textarea class="form-control" value="" name="message" >Message</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" id="submit" class="button btn-cool btn-lg pull-right">Send message</button>
                </div>
            </div>
        </form>
        </section>
        <!-- //end Page Content -->
        <!-- Subscribe -->
        
        <!-- //end Subscribe -->
{% endblock %}
{% block javascript %}
<script src="{{asset('js/jquery-1.11.3.min.js')}}"></script> 
<script src="{{asset('js/modernizr.custom.02163.js')}}"></script>
<script src="{{asset('js/jquery.finger.min.js')}}"></script>
<script src="{{asset('js/doubletaptogo.js')}}"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
<script src="{{asset('js/jquery.easing.1.3.min.js')}}"></script>
<script src="{{asset('js/slick.min.js')}}"></script>
<script src="{{asset('js/jquery.parallax.min.js')}}"></script>
<script src="{{asset('js/jquery.inview.min.js')}}"></script>
<script src="{{asset('js/jquery.liMarquee.min.js')}}"></script>
<script src="{{asset('js/jquery.colorbox-min.js')}}"></script>
<script src="{{asset('js/jquery.isotope.min.js')}}"></script>
<script src="{{asset('js/jquery.plugin.min.js')}}"></script>
<script src="{{asset('js/jquery.countdown.min.js')}}"></script>
<script src="{{asset('js/cloudzoom.js')}}"></script>
<script src="{{asset('js/jquery.easypiechart.min.js')}}"></script>
<script src="{{asset('js/coolbaby.js')}}"></script>
<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
<script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
<script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.ini.js')}}"></script>
<script src="{{asset('js/jquery.form.js')}}"></script> 
<script src="{{asset('js/jquery.validate.min.js')}}"></script> 
<script type="text/javascript">
// validate book form
jQuery(function($) {
    $j('#contactform').validate({
        rules: {
            name: {
                required: true,
                minlength: 2
            },
            message: {
                required: true,
                minlength: 20
            },
            email: {
                required: true,
                email: true
            }

        },
        messages: {
            name: {
                required: "Please enter your name",
                minlength: "Your name must consist of at least 2 characters"
            },
            message: {
                required: "Please enter message",
                minlength: "Your message must consist of at least 20 characters"
            },
            email: {
                required: "Please enter your email"
            }
        },
        submitHandler: function(form) {
            $j(form).ajaxSubmit({
                type:"POST",
                data: $j(form).serialize(),
                url:"process-contact.php",
                success: function() {
                      $j('#success').fadeIn();
                      $j( '#contactform' ).each(function(){this.reset();});
                },
                error: function() {
                        $j('#contactform').fadeTo( "slow", 0, function() {
                            $j('#error').fadeIn();
                    });
                }
            });
        }
    });
});
</script>

{% endblock %}
